.btn-group{'data-toggle': 'buttons'}
  %label.btn.active.btn-bssnippet-1-variants
    %input#bssnippet-2-default-radio-1{name: 'bssnippet-2-default-radio', type: 'radio', checked: 'checked'}
    $3
  %label.btn.btn-btn-bssnippet-1-variants
    %input#bssnippet-2-default-radio-2{name: 'bssnippet-2-default-radio', type: 'radio'}
    $4
  %label.btn.btn-btn-bssnippet-1-variants
    %input#bssnippet-2-default-radio-3{name: 'bssnippet-2-default-radio', type: 'radio'}
    $5
