.btn-group{'data-toggle': 'buttons'}
  %label.active.btn.btn-bssnippet-1-variants{for: 'bssnippet-2-default-btn_check-1'}
    %input#bssnippet-2-default-btn_check-1{autocomplete: 'off', checked: 'checked', name: 'bssnippet-2-default-btn_check', type: 'checkbox'}
    $4

  %label.active.btn.btn-bssnippet-1-variants{for: 'bssnippet-2-default-btn_check-2'}
    %input#bssnippet-2-default-btn_check-2{autocomplete: 'off', checked: 'checked', name: 'bssnippet-2-default-btn_check', type: 'checkbox'}
    $5
