.btn-group{'aria-label': '$2', role: 'group'}
  %button.btn.btn-bssnippet-1-variants{type: 'button'} $3
  %button.btn.btn-bssnippet-1-variants{type: 'button'} $4
  %button.btn.btn-bssnippet-1-variants{type: 'button'} $5
