.row
  .col-md-${1|1,2,3,4,5,6,7,8,9,10,11,12|}
    .card
      .card-body
        %h3.card-title ${3:Title}
        %p.card-text ${4:Text}

  .col-md-${2|1,2,3,4,5,6,7,8,9,10,11,12|}
    .card
      .card-body
        %h3.card-title ${5:Title}
        %p.card-text ${6:Text}
