.carousel.slide#${1:carousel}{'data-ride': 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-slide-to': '0', 'data-target': '#${1:carousel}'}
    %li{'data-slide-to': '1', 'data-target': '#${1:carousel}'}
    %li{'data-slide-to': '2', 'data-target': '#${1:carousel}'}

  .carousel-inner{role: 'listbox'}
    .carousel-item.active
      %img{alt: '${2:First slide}', 'data-src': '#'}/

    .carousel-item
      %img{alt: '${3:Second slide}', 'data-src': '#'}/

    .carousel-item
      %img{alt: '${4:Third slide}', 'data-src': '#'}/

  %a.carousel-control-prev{'data-slide': 'prev', href: '#${1:carousel}', role: 'button'}
    %span.carousel-control-prev-icon{'aria-hidden': 'true'}
    %span.sr-only Previous
  %a.carousel-control-next{'data-slide': 'next', href: '#${1:carousel}', role: 'button'}
    %span.carousel-control-next-icon{'aria-hidden': 'true'}
    %span.sr-only Next
