.accordion#accordion-${1:}
  .card
    .card-header#heading-one
      %h2.mb-0
        %button.btn.btn-link.btn-block.text-left{'aria-controls': 'collapse-one', 'aria-expanded': 'true', 'data-target': '#collapse-one', 'data-toggle': 'collapse', type: 'button'}
          Collapsible Group Item #1
    .collapse.show#collapse-one{'aria-labelledby': 'heading-one', 'data-parent': '#accordion-${1:}'}
      .card-body
        Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the
        %code .show
        class.

  .card
    .card-header#heading-two
      %h2.mb-0
        %button.btn.btn-link.btn-block.text-left.collapsed{'aria-controls': 'collapse-two', 'aria-expanded': 'false', 'data-target': '#collapse-two', 'data-toggle': 'collapse', type: 'button'}
          Collapsible Group Item #2
    .collapse#collapse-two{'aria-labelledby': 'heading-two', 'data-parent': '#accordion-${1:}'}
      .card-body
        Some placeholder content for the second accordion panel. This panel is hidden by default.
