%p
  %button.btn.btn-primary{'aria-controls': 'collapse-${1:example}', 'aria-expanded': 'false', 'data-target': '#collapse-${1:example}', 'data-toggle': 'collapse', type: 'button'}
    Button with data-target

.collapse#collapse-${1:example}
  .card.card-body
    Some placeholder content for the collapse component.
    This panel is hidden by default but revealed when the user activates the relevant trigger.
