.drop${1|down,up,left,right|}
  %button.btn.btn-secondary.dropdown-toggle#${2:dropdown-trigger}{'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown', type: 'button'}
    ${3:Dropdown}
  .dropdown-menu{'aria-labelledby': '${2:dropdown-trigger}'}
    %a.dropdown-item{href: '#'} ${4:Action}
