%label.custom-control.custom-radio
  %input.custom-control-input#${1:check-inline}{name: '$1', type: 'radio', value: '${2:checked-value}'}/
  %span.custom-control-indicator
  %span.custom-control-description $3
