.form-group
  %label{for: '${1:input-name}'} ${2:Name}
  %input.form-control#${1:input-name}{name: '${1:input-name}', placeholder: '$2', type: '${3:text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week}'}/
