.form-group
  %label{for: '${1:email}'} ${2:Email}
  %input.form-control#${1:email}{'aria-describedby': '${1:email}-${4:help}', name: '${1:email}', placeholder: '$2', type: 'email'}/
  %small.form-text.text-muted#${1:email}-${4:help} ${2:Help text}$0
