.form-group
  %label{for: '${1:input-multiple}'} $2
  %select.custom-select#${1:input-multiple}{multiple: 'multiple', name: '${1:input-multiple}'}
    %option{value: '$3'} ${4:Select one}
    %option{value: '$5'} $6
