.form-group
  %label{for: '${1:password}'} ${2:Password}
  %input.form-control#${1:password}{'aria-describedby': '${1:password}-help', name: '${1:password}', placeholder: '$2', type: 'password', autocomplete: '${3:|new-password,current-password|}'}/
  %small.form-text.text-muted#${1:password}-help ${2:6 characters minimum}$0
