.form-group
  %label{for: '${1:name}'} ${2:Name}
  %input.form-control#${1:input}{'aria-describedby': '${1:input}-help', name: '${1:input}', placeholder: '$2', type: 'text'}/
  %small.form-text.text-muted#${1:input}-help ${2:Help text}$0
