%label.custom-control.custom-checkbox
  %input.custom-control-input#${1:input}{name: '${1:input}', type: 'checkbox', value: '${2:$1}'}/
  %span.custom-control-indicator
  %span.custom-control-description $3
