.form-group
  %label{for: '${1:file}'} $2
  %input.form-control-file#${1:file}{'aria-describedby': '${1:file}-help', name: '${1:file}', placeholder: '$2', type: 'file'}/
  %small.form-text.text-muted#${1:file}-help ${3:Help text}
