.jumbotron
  %h1.display-3 ${1:Jumbo heading}
  %p.lead ${2:Jumbo helper text}
  %hr.my-2/
  %p ${3:More info}
  %p.lead
    %a.btn.btn-primary.btn-lg{href: '${5:Jumbo action link}', role: 'button'}
      ${4:Jumbo action name}
