.list-group
  %a.list-group-item.list-group-item-action.flex-column.align-items-start.active{href: '${1:#}'}
    .d-flex.w-100.justify-content-between
      %h5.mb-1 ${2:Heading}
      %small ${3:small}
    %p.mb-1 ${4:Paragraph}
    %small ${5:paragraph footer}
  %a.list-group-item.list-group-item-action.flex-column.align-items-start{href: '${6:#}'}
    .d-flex.w-100.justify-content-between
      %h5.mb-1 ${7:Heading}
      %small ${8:small}
    %p.mb-1 ${9:Paragraph}
    %small ${10:paragraph footer}
  %a.list-group-item.list-group-item-action.flex-column.align-items-start.disabled{href: '${11:#}'}
    .d-flex.w-100.justify-content-between
      %h5.mb-1 ${12:Heading}
      %small ${13:small}
    %p.mb-1 ${14:Paragraph}
    %small ${15:paragraph footer}
