.list-group
  %a.list-group-item.list-group-item-${3|primary,secondary,success,danger,warning,info,light,dark|}.list-group-item-action.active{href: '${2:#}'} ${1:Active item}
  %a.list-group-item.list-group-item-${6|primary,secondary,success,danger,warning,info,light,dark|}.list-group-item-action{href: '${5:#}'} ${4:Item}
  %a.list-group-item.list-group-item-${9|primary,secondary,success,danger,warning,info,light,dark|}.list-group-item-action.disabled{href: '${8:#}'} ${7:Disabled item}
