.list-group
  %a.list-group-item.list-group-item-action.active{href: '${2:#}'} ${1:Active item}
  %a.list-group-item.list-group-item-action{href: '${4:#}'} ${3:Item}
  %a.list-group-item.list-group-item-action.disabled{href: '${6:#}'} ${5:Disabled item}
