.list-group
  %button.list-group-item.list-group-item-action.active{type: 'button'} ${1:Active item}
  %button.list-group-item.list-group-item-action{type: 'button'} ${2:Item}
  %button.list-group-item.list-group-item-action.disabled{type: 'button'} ${3:Disabled item}
