%ul.list-group
  %li.list-group-item.d-flex.justify-content-between.align-items-center.active
    ${1:Active list item}
    %span.badge.badge-secondary.badge-pill ${2:pill1}
  %li.list-group-item.d-flex.justify-content-between.align-items-center
    ${3:List item}
    %span.badge.badge-secondary.badge-pill ${4:pill2}
  %li.list-group-item.d-flex.justify-content-between.align-items-center.disabled
    ${5:Disabled item}
    %span.badge.badge-secondary.badge-pill ${6:pill3}
