%button.btn.btn-primary.btn-lg{'data-target': '#${2:modal-id}', 'data-toggle': 'modal', type: 'button'}
  ${1:Launch}

.modal.fade#${2:modal-id}{'aria-hidden': 'true', 'aria-labelledby': '${4:modal-title-id}', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-${3|lg,md,sm,xs|}{role: 'document'}
    .modal-content
      .modal-header#${4:modal-title-id}
        %h5.modal-title ${5:Modal title}
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
      .modal-body
        $0
      .modal-footer
        %button.btn.btn-secondary{'data-dismiss': 'modal', type: 'button'} ${6:Close}
        %button.btn.btn-primary{type: 'button'} ${7:Save}
