%button.btn.btn-primary.btn-lg{'data-target': '#${2:modal-id}', 'data-toggle': 'modal', type: 'button'}
  ${1:Launch}

.modal.fade#${2:modal-id}{'aria-hidden': 'true', 'aria-labelledby': '${4:modalTitleId}', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title ${3:Modal title}
        %button.close{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': 'true'} ×
      .modal-body
        .container-fluid
          ${7:Add rows here}
      .modal-footer
        %button.btn.btn-secondary{'data-dismiss': 'modal', type: 'button'} ${5:Close}
        %button.btn.btn-primary{type: 'button'} ${6:Save}

:javascript
  $('#${2:modal-id}').on('show.bs.modal', event => {
  	var button = $(event.relatedTarget);
  	var modal = $(this);
  	// Use above variables to manipulate the DOM
  	$0
  });
