%ul.nav.justify-content-${1|center,end,start|}
  %li.nav-item
    %a.nav-link.active{href: '${3:#}'} ${2:Active link}
  %li.nav-item
    %a.nav-link{href: '${5:#}'} ${4:Link}
  %li.nav-item
    %a.nav-link.disabled{href: '#'} ${6:Disabled link}
