%nav.navbar.navbar-expand.navbar-light.bg-light
  .nav.navbar-nav
    %a.nav-item.nav-link.active{href: '${2:#}'}
      ${1:Home}
      %span.sr-only (current)
    %a.nav-item.nav-link{href: '${4:#}'} ${3:Home}
