%nav.navbar.navbar-expand.navbar-light.bg-light
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{href: '${2:#}'}
        ${1:Nav 1}
        %span.sr-only (current)
    %li.nav-item
      %a.nav-link{href: '${4:#}'} ${3:Nav 2}
