.progress
  .progress-bar.progress-bar-striped.bg-bssnippet-1-variants{'aria-valuemax': '${2:100}', 'aria-valuemin': '${3:0}', 'aria-valuenow': '${4:25}', role: 'progressbar', style: 'width: ${4:25}%;'}
    ${5:Description}
