%${1:div|body}{'data-spy': 'scroll'. data-target: '#${2:nav-id}'}
  $4
  #${2:nav-id}
    %ul.nav.nav-tabs{role: 'tablist'}
      $3
  $5

:css
  ${1:div|body} {
  	position: relative;
  }

:javascript
  $('$1{1:div|body}').scrollspy({
  	target: '#${2:nav-id}'
  });
