%button.btn.position-relative.btn-${1|primary,secondary,success,danger,warning,info,light,dark|}{type: 'button'}
  $2
  %span.bg-${3|primary,secondary,success,danger,warning,info,light,dark|}.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill
    $4
    %span.visually-hidden unread messages
