.btn-group{'aria-label': '$1', role: 'group'}
  %input.btn-check#${2:btn-check}-1{autocomplete: 'off', name: '${2:btn-check}-1', type: 'radio'}
  %label.btn.btn-outline-primary{for: '${2:btn-check}-1'} Radio 1

  %input.btn-check#${2:btn-check}-2{autocomplete: 'off', name: '${2:btn-check}-2', type: 'radio'}
  %label.btn.btn-outline-primary{for: '${2:btn-check}-2'} Radio 2

  %input.btn-check#${2:btn-check}-3{autocomplete: 'off', name: '${2:btn-check}-3', type: 'radio'}
  %label.btn.btn-outline-primary{for: '${2:btn-check}-3'} Radio 3
