.btn-group{'aria-label': '$1', role: 'group'}
  %button.btn.btn-${2|primary,secondary,success,danger,warning,info,light,dark|}{type: 'button'} $3
  %button.btn.btn-${2|primary,secondary,success,danger,warning,info,light,dark|}{type: 'button'} $4
  %button.btn.btn-${2|primary,secondary,success,danger,warning,info,light,dark|}{type: 'button'} $5
