.card
  .card-header
    %ul.nav.nav-tabs#${1:card}-tab{role: 'tablist'}
      %li.nav-item{role: 'presentation'}
        %button.nav-link.active#${2:home}-tab{'aria-controls': '${2:home}-tab-pane', 'aria-selected': 'true', 'data-bs-target': '#${2:home}-tab-pane', 'data-bs-toggle': 'tab', role: 'tab', type: 'button'}
          ${2:home}

      %li.nav-item{role: 'presentation'}
        %button.nav-link#${3:contact}-tab{'aria-controls': '${3:contact}-tab-pane', 'aria-selected': 'false', 'data-bs-target': '#${3:contact}-tab-pane', 'data-bs-toggle': 'tab', role: 'tab', type: 'button'}
          ${3:contact}

      %li.nav-item{role: 'presentation'}
        %button.nav-link#${4:profile}-tab{'aria-controls': '${4:profile}-tab-pane', 'aria-selected': 'false', 'data-bs-target': '#${4:profile}-tab-pane', 'data-bs-toggle': 'tab', role: 'tab', type: 'button'}
          ${4:profile}

  .card-body
    .tab-content#${1:card}-tab-content
      .tab-pane.fade.show.active#${2:home}-tab-pane{'aria-labelledby': '${2:home}-tab', role: 'tabpanel', tabindex: '0'}
        %h5.card-title ${2:home} content

      .tab-pane.fade#${3:contact}-tab-pane{'aria-labelledby': '${3:contact}-tab', role: 'tabpanel', tabindex: '0'}
        %h5.card-title ${3:contact} content

      .tab-pane.fade#${4:profile}-tab-pane{'aria-labelledby': '${4:profile}-tab', role: 'tabpanel', tabindex: '0'}
        %h5.card-title ${4:profile} content
