.row.row-cols-1.row-cols-md-2.g-4
  .col
    .card
      %img.card-img-top{alt: '$2', src: '${1:#}'}
      .card-body
        %h5.card-title $3
        %p.card-text $4
        %a.btn.btn-primary{href: '#'} $5

  .col
    .card
      %img.card-img-top{alt: '$2', src: '${1:#}'}
      .card-body
        %h5.card-title $3
        %p.card-text $4
        %a.btn.btn-primary{href: '#'} $5
