.card
  .card-header
    %ul.nav.nav-tabs#${1:card-tab}{role: 'tablist'}
      %li.nav-item{role: 'presentation'}
        %button.nav-link.active#${2:tab}{'aria-controls': '${2:tab}-pane', 'aria-selected': 'true', 'data-bs-target': '#${2:tab}-pane', 'data-bs-toggle': 'tab', role: 'tab', type: 'button'} $2

      %li.nav-item{role: 'presentation'}
        %button.nav-link#${3:tab}{'aria-controls': '${3:tab}-pane', 'aria-selected': 'false', 'data-bs-target': '#${3:tab}-pane', 'data-bs-toggle': 'tab', role: 'tab', type: 'button'} $3

      %li.nav-item{role: 'presentation'}
        %button.nav-link#${4:tab}{'aria-controls': '${4:tab}-pane', 'aria-selected': 'false', 'data-bs-target': '#${4:tab}-pane', 'data-bs-toggle': 'tab', role: 'tab', type: 'button'} $4

  .card-body
    .tab-content#${1:card-tab}-content
      .tab-pane.fade.show.active#${2:tab}-pane{'aria-labelledby': '${2:tab}', role: 'tabpanel', tabindex: '0'}
        %h5.card-title $2 Content

      .tab-pane.fade#${3:tab}-pane{'aria-labelledby': '${3:tab}', role: 'tabpanel', tabindex: '0'}
        %h5.card-title $3 Content

      .tab-pane.fade#${4:tab}-pane{'aria-labelledby': '${4:tab}', role: 'tabpanel', tabindex: '0'}
        %h5.card-title $4 Content
