.carousel.slide#${1:carousel}{'data-bs-ride': 'carousel'}
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{alt: '${2:#}', src: '#'}/

    .carousel-item
      %img.d-block.w-100{alt: '${3:#}', src: '#'}/

    .carousel-item
      %img.d-block.w-100{alt: '${4:#}', src: '#'}/
