.carousel.slide.carousel-fade#${1:carousel}{'data-bs-ride': 'carousel'}
  .carousel-inner
    .carousel-item.active
      %img.d-block.w-100{alt: '${2:#}', src: '#'}/

    .carousel-item
      %img.d-block.w-100{alt: '${3:#}', src: '#'}/

    .carousel-item
      %img.d-block.w-100{alt: '${4:#}', src: '#'}/

  %button.carousel-control-prev{'data-bs-slide': 'prev', 'data-bs-target': '#$1', type: 'button'}
    %span.carousel-control-prev-icon{'aria-hidden': 'true'}
    %span.visually-hidden Previous

  %button.carousel-control-next{'data-bs-slide': 'next', 'data-bs-target': '#$1', type: 'button'}
    %span.carousel-control-next-icon{'aria-hidden': 'true'}
    %span.visually-hidden Next
