%p
  %button.btn.btn-primary{'aria-controls': '${1:collapse}', 'aria-expanded': 'false', 'data-bs-target': '#${1:collapse}', 'data-bs-toggle': 'collapse', type: 'button'}
    ${2:Collapse}

.collapse#${1:collapse}
  .card.card-body $3
