.drop${4|down-center,up,up-center,end,start|}
  %button.btn.dropdown-toggle.btn-${2|primary,secondary,success,danger,warning,info,light,dark|}{'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', type: 'button'}
    ${3:Dropdown}
  %ul.dropdown-menu
    %li
      %a.dropdown-item{href: '$4'} $5
