%ul.list-group
  %li.list-group-item.d-flex.justify-content-between.align-items-center
    $1
    %span.badge.bg-primary.rounded-pill 14

  %li.list-group-item.d-flex.justify-content-between.align-items-center
    $2
    %span.badge.bg-primary.rounded-pill 2

  %li.list-group-item.d-flex.justify-content-between.align-items-center
    $3
    %span.badge.bg-primary.rounded-pill 1
