%ul.nav
  %li.nav-item
    %a.nav-link.active{'aria-current': 'page', href: '${2:/}'} $1
  %li.nav-item
    %a.nav-link{href: '${4:#}'} $3
  %li.nav-item
    %a.nav-link{href: '${6:#}'} $5
  %li.nav-item
    %a.nav-link.disabled $0
