%button.btn.btn-${1|primary,secondary,success,danger,warning,info,light,dark|}{'data-bs-container': 'body', 'data-bs-content': '${4:Popover Content}', 'data-bs-placement': '${2|top,right,bottom,left|}', 'data-bs-title': '${3:Popover Title}', 'data-bs-toggle': 'popover', type: 'button'}
  ${5:Popover}

:javascript
  document
    .querySelectorAll('[data-bs-toggle='popover']')
    .forEach((popoverEl) => {
      new bootstrap.Popover(popoverEl);
    });
