.progress
  .progress-bar.progress-bar-striped.bg-${1|primary,secondary,success,danger,warning,info,light,dark|}{'aria-label': '$2', 'aria-valuemax': '${3:100}', 'aria-valuemin': '${4:0}', 'aria-valuenow': '${5:25}', role: 'progressbar', style: 'width: ${5:25}%'}
$0
